
<div class="p-3 mb-2 bg-info-subtle text-info-emphasis">


<div class="row g-3 align-items-center">
  <div class="col-auto">
    <div class="col-auto">
    <div class="col-auto">



<%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :confirmation_token %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
                input_html: { autocomplete: "email" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Resend confirmation instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>






<div class="p-5">






<div class="container text-center">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
    <div class="col"><strong>ABOUT US</strong><br>
    <p>We are a passionate group of individuals dedicated to community service, advocacy, and upholding the values of compassion, leadership, and community. As part of juvilbrainstorm, we are united in our mission to uplift those in need and promote education and understanding globally.</p>
    </div>
    <div class="col"><strong>MORE INFORMATION</strong><br>
      <p><a class="link-opacity-10-hover" href="#">About Us<br></a></p>
<p><a class="link-opacity-10-hover" href="#">Focus Areas<br></a></p>
  <p><a class="link-opacity-10-hover" href="#">History<br></a></p>
  <p><a class="link-opacity-10-hover" href="#">Our Leaders<br></a></p>
 <p><a class="link-opacity-10-hover" href="#">News<br></a></p>
   <p><a class="link-opacity-10-hover" href="#">Events  <br></a></p>
    </div>
    <div class="col"> <strong>NAVIGATION </strong> <br>

 <p><a class="link-opacity-10-hover" href="#"> Our Stories   <br></a></p>
  <p><a class="link-opacity-10-hover" href="#"> Club Locator  Our Stories   <br></a></p>
   <p><a class="link-opacity-10-hover" href="#"> Donate   <br></a></p>
    <p><a class="link-opacity-10-hover" href="#"> Members Portal  <br></a></p>
   <p><a class="link-opacity-10-hover" href="#"> Contact   <br></a></p>
    <p><a class="link-opacity-10-hover" href="#"> Gallery   <br></a></p>
      <p><a class="link-opacity-10-hover" href="#"> Resources </a></p>







</div>

    <div class="col"><strong>REACH US</strong>
    <div class>CONTACT ADDRESS <br>

29, londonstreet <br>
United KIngdom.<br>
Tel:+44734145957 <br>
Email:juvilbrainstorm.com<br>
Website:www.juvilbrainstorm.com<br>
<div class="p-5">

<p class="text-primary">FOLLOW US</p>

<div class="footer">
  <div class="footer-links">
    <a href="https://github.com"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
    <a href="https://x.com"><i class="fab fa-twitter"></i></a>
    <a href="www.linkedin.com"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">

  </div>
</div>


    </div>
  </div>
</div></div>
</div>
</div>
</div>
